/*
Theme Name:   PatisXClima 2023 GP Child
Theme URI:    https://patisxclima.elglobusvermell.org
Description:  PatisXClima wordpress theme based on GeneratePress. Install generatepress theme aside with this one before activating.
Author:       Jorge - vitrubio.net
Author URI:   https://vitrubio.net
Template:     generatepress
Version:      0.6
Requires at least: 6.0
Tested up to: 6.6
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: patisxclima23

PatisXClima 2023 GP Child, Copyright 2023 vitrubio-net
PatisXClima 2023 GP Child is distributed under the terms of the GNU GPL

PatisXClima 2023 GP Child and GeneratePress are based on Underscores http://underscores.me/, (C) 2012-2022 Automattic, Inc.

Actual CSS can be found in /assets/css/ folder.
 */

/*
 * Fonts
 *
 * * * * * * */
@font-face {
    font-family: 'Swiss721';
    src: url('inc/fonts/swiss.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
      font-family: 'Swiss721';
      src: url('inc/fonts/swissb.ttf') format('ttf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: 'Swiss721';
    src: url('inc/fonts/swissi.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Swiss721';
    src: url('inc/fonts/swissbi.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Swiss721cn';
    src: url('inc/fonts/swissc.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swiss721cn';
    src: url('inc/fonts/swissck.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swiss721cn';
    src: url('inc/fonts/swissci.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Swiss721cn';
    src: url('inc/fonts/swisscki.ttf') format('ttf');
    font-weight: black;
    font-style: italic;
    font-display: swap;
}
@font-face {                      
    font-family: 'Helvetica Neue LT Std Condensed';
    src: url('inc/fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
    url('inc/fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: bold; /*700*/
    font-style: normal;    
    font-display: swap;
}                                 

@font-face {                      
    font-family: 'Helvetica Neue LT Std Condensed';
    src: url('inc/fonts/HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
    url('inc/fonts/HelveticaNeueLTStd-BdCnO.woff') format('woff');
    font-weight: bold; /*700*/
    font-style: italic;
    font-display: swap;
}                                 

/*
 * variables for: 
 * colors, fonts, elements, page
 *
 * * * * * * */
:root{
    /* html contstruction */
    --container-width: 1200px;
    /* fonts */
    --font-pxc: 'Swiss721', 'Helvetica Neue', Helvetica, sans-serif;
    --font-pxc-cond: 'Swiss721cn', 'Helvetica Neue LT Std Condensed', 'Helvetica Neue', Helvetica, sans-serif;
    --base-font-size: 1em;
    --base-line-height: 1.5;
    --base-h1: calc( var(--base-font-size) * 2);
    --base-h2: calc( var(--base-font-size) * 1.8);
    --base-h3: calc( var(--base-font-size) * 1.4);
    --base-h4: calc( var(--base-font-size) * 1.3);
    --base-h5: calc( var(--base-font-size) * 1.2);
    --base-h6: calc( var(--base-font-size) * 1);
    --h1-small: calc( var(--base-font-size) * 1.8);
    --h2-small: calc( var(--base-font-size) * 1.6);
    --h3-small: calc( var(--base-font-size) * 1.3);
    --h4-small: calc( var(--base-font-size) * 1.2);
    --h5-small: calc( var(--base-font-size) * 1.1);
    --h6-small: calc( var(--base-font-size) * 1);
    /* colors */

    --rgb-accent:     rgb(66,74,36)   ;
    --rgb-contrast:   rgb(51,51,51)   ;
    --rgb-contrast-2: rgb(91,110,51)  ;
    --rgb-contrast-3: rgb(117,143,58) ;
    --rgb-base:       rgb(148,167,56) ;
    --rgb-base-2:     rgb(196,205,134);
    --rgb-base-3:     rgb(208,215,160);
    --rgb-bkgcolor:   rgb(244,243,216);
    --rgb-whitecolor: rgb(254,254,254);
    --rgb-midgrey:    rgb(100,100,100);
    --color-en-accio: #ff6600;
    --rgb-en-accio:    rgb(255,100,0);
    --swiper-theme-color: var(--base);

    /* elements */
    --base-padding: 1em;
    --base-padding-theme: 40px;
    --base-margin: 1em;
    --base-margin-theme: 40px;
    --base-radius: 0;
    --base-gap: 4em;

} 

/*all screens and print*/
@media print, screen {
    /*
     * General Elements
     *
     * * * * * * * * */
    html *, body {
    }
    body, button, input, select, textarea {
        font-family: var(--font-pxc);
        font-size: var(--base-font-size);
        line-height: var(--base-line-height);
    }
   
    p > a {
        text-decoration: underline;
    }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
    .wp-block-post-title a, .wp-block-heading a {
        text-decoration: none;
    }
    a[target="_blank"]::after {
        content:"";
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
        display: inline-block;
        width: 1em;
        height: 0.9em;
        filter: opacity(30%);
    }
    .menu-item a[target="_blank"]::after {
        width: 1.2em;
        height: 1.2em;
    }
    a[target="_blank"]:hover::after {
        filter: opacity(50%);
    }
    em {
        color: var(--contrast-3);
        font-style: inherit;
    }
    
    /*
     * Headers
     */
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--font-pxc-cond);
        font-weight: bold;
        line-height: 1;
        hyphens: auto; /* 20231210: Catalan not working in Chromium derivates*/
        hyphenate-limit-chars: 6 3 3; /* 20231210: ok in Chromium not ok FF  https://developer.mozilla.org/en-US/docs/Web/CSS/hyphenate-limit-chars*/
    }
    h1,h2,h3 {
        text-transform: uppercase;
    }
    h1 {
        font-size: var(--base-h1);
    }
    h2 {
        font-size: var(--base-h2);
    }
    h3 {
        font-size: var(--base-h3);
    }
    h4 {
        font-size: var(--base-h4);
    }
    h5 {
        font-size: var(--base-h5);
    }
    h6 {
        font-size: var(--base-h6);
    }
    h1.page-title, h1.entry-title, h2.wp-block-heading{
        background-color: var(--whitecolor);
        display:inline;
        padding-right: 0.3em;
        hyphens: none;
    }
    h1.page-title::after, h1.entry-title::after, h2.wp-block-heading::after {
        content: "";
        display: inline-block;
        float: left;
        width: 100%;
        height: 0.4em;
        margin: -0.8em 0 0 0;
        padding:0;
        background-color: var(--base-3);
    }
    h2.wp-block-heading a {
        background-color: var(--whitecolor);
        display:inline;
    }
    h2.wp-block-heading a::before {
        content: "+";
        display: block;
        float:none;
        margin-bottom: -1.1em;
        color: var(--accent);
        background-color: #fff;
        text-align: right;
        font-size: calc(var(--base-font-size)*0.7);
    }
    /*
    html[lang="ca"]  h2.wp-block-heading a::before {
        content: "veure +";
    }
    html[lang="es-ES"]  h2.wp-block-heading a::before {
        content: "ver +";
    }
    html[lang="en"]  h2.wp-block-heading a::before {
        content: "view +";
    }
    */

    /*
     * Buttons
     */
    .wp-block-button__link {
        border-radius:var(--base-radius);
    }
    .wp-core-ui .button, .wp-core-ui .button-secondary {
        color: var(--contrast-2);
        border-color: var(--contrast-3);
        background: var(--base-3);
    }
    .wp-core-ui .button-secondary:hover, .wp-core-ui .button.hover, .wp-core-ui .button:hover{
        color: var(--accent);
        border-color: var(--contrast-2);
        background: var(--base-3);
    }
    .wp-core-ui .button-primary {
        color: var(--base-3);
        background: var(--contrast-2);
        border-color: var(--contrast-3);
    }
    .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
        color: var(--base-2);
        background: var(--accent);
        border-color: var(--base);
    }
    
    .square .wp-block-button .wp-block-button__link.is-style-outline, .square .wp-block-button.is-style-outline > .wp-block-button__link {
        border: none;
        font-family: var(--font-pxc-cond);
        font-variant: all-petite-caps;
        padding: 0;
        font-size: var(--h3-small);
        color: var(--accent);
        line-height: var(--base-font-size);
    }
    .square .wp-block-button .wp-block-button__link.is-style-outline:hover, .square .wp-block-button.is-style-outline:hover > .wp-block-button__link {
        /*color:var(--base-2);*/
    }
    /*
     * Forms 
     */
    .wp-core-ui select:hover,
    .wp-core-ui select:focus,
    input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
        color: var(--accent);
        border-color: var(--contrast-2);
        box-shadow: 0 0 0 1px var(--contrast-3);
    }
     

    /*
     * Nav main, secondary, top-bar
     * * * * * * */
    
    .main-title,.main-navigation a {
        font-size: calc(var(--base-font-size) *1.5);
    }
    .main-navigation .inside-navigation {
        padding: 0 calc( var(--base-margin-theme) / 2 ) ;
    }

    .main-navigation, .inside-navigation, .secondary-navigation {
        font-family: var(--font-pxc-cond);
        font-weight: bold;
        text-transform: uppercase;
    }
    .main-navigation a, .inside-navigation a, .secondary-navigation a {
        text-transform: uppercase !important;
    }
    #site-navigation .navigation-branding, #sticky-navigation .navigation-branding {
        margin-left: 0 !important;
    }
    .has-branding .inside-navigation.grid-container {
        min-height: 3em;
    }
    .main-navigation.has-branding .menu-toggle, .main-navigation.has-sticky-branding.navigation-stick .menu-toggle {
        padding-right: 0 !important;
    }
    .top-bar {
        text-transform: uppercase;
        font-family: var(--font-pxc-cond);
    }
    .secondary-navigation .inside-navigation {
        padding: 0 calc( var(--base-margin-theme) / 2) !important;
    }
    .top-bar .wp-block-heading {
        margin: 0;
        text-transform: lowercase;
        color: var(--contrast-2);
        font-family: var(--font-pxc);
        font-weight: normal;
        font-size: calc( var(--base-font-size) * 1.1);
        font-weight: bold;
    }
    .top-bar .wp-block-heading em {
        width:0;
        margin: 0 auto;
        color: var(--contrast-2);
        display: inline-block;
        text-align: center;
        font-weight: normal;
        opacity: 0;
        animation-duration: 6s;
        animation-delay: -6s;
        animation-iteration-count: infinite;
    }
    .top-bar .wp-block-heading em:nth-child(1) {
        animation-name: claim01FadeInOut;

    }
    .top-bar .wp-block-heading em:nth-child(2) {
        animation-name: claim02FadeInOut;
    }
    .top-bar .wp-block-heading em:nth-child(3) {
        animation-name: claim03FadeInOut;
    }
    @-moz-keyframes claimFadeInOut {
        0%,100% { opacity: 0 }
        50% { opacity: 1 }
    }
    @-webkit-keyframes claimFadeInOut {
        0%,100% { opacity: 0 }
        50% { opacity: 1 }
    }
    @keyframes claim01FadeInOut {
        0%,33% { opacity: 1; width: 2.3em; min-width: 2.3em; }
        34%,100% { opacity: 0; width: 0px; min-width: 0; }
    }
    @keyframes claim02FadeInOut {
        0%,33% { opacity: 0;  width: 0px; min-width: 0; }
        34%,66% { opacity: 1; width: 2.3em; min-width: 2.3em; }
        67%,100% { opacity: 0; width: 0px; min-width: 0; }
    }
    @keyframes claim03FadeInOut {
        0%,66% { opacity: 0;  width: 0px; min-width: 0; }
        67%,100% { opacity: 1; width: 2.3em; min-width: 2.3em; }
    }
    .secondary-navigation .main-nav ul ul {
        pointer-events: all;
    }
    /*
     * Header
     *
     * * * * * * */
  
    
    /*
     * Body
     *
     * * * * * * */
    
    /*
     * All content
     */
    .one-container .site-content{
        padding:0;
    } 
    .site-content {
        margin-top: calc(var(--base-margin) * 3);
    }
    .site-main {
        margin-bottom: 0;
    }
    /* Images */
    figure img {
        background-color: var(--base-2);
    }
    .entry-content p .size-auto,
    .entry-content p .size-full,
    .entry-content p .size-large {
        width: 100%;
    }
    /* Layout */
    .is-layout-grid,
    :where(.wp-block-columns.is-layout-flex) {
        gap: var(--base-gap);
    }
    :where(.wp-block-post-excerpt) {
        color: var(--rgb-midgrey);
    }
    /* Aspect ratio */
    .square {
        aspect-ratio: 1 / 1;
    }
    .rectangle-2x1 {
        aspect-ratio: 2 / 1;
    }
    /* Spacing Margins and Padding */
    .entry-header {
        margin-bottom: calc( var(--base-margin) * 1 );
    }
    .separate-containers .comments-area,
    .separate-containers .inside-article,
    .separate-containers .page-header,
    .separate-containers .paging-navigation {
        margin-bottom: calc( var(--base-margin) * 3 );
    }
    .entry-content:not(:first-child),
    .entry-summary:not(:first-child),
    .page-content:not(:first-child),
    .separate-containers .site-main,
    .separate-containers .comments-area:first-of-type,
    .separate-containers .inside-article:first-of-type,
    .separate-containers .page-header:first-of-type,
    .separate-containers .paging-navigation:first-of-type,
    .site-main .wp-block-group__inner-container:first-of-type {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    
    }
    
    
    /*
     * Gallery wp
     */
    
    .gallery-caption {
        display: none;
    }
    .gallery-size-thumbnail {
        gap: 0;
        justify-content: space-between;
    }
    [class*="gallery-columns-"] {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: calc(var(--base-margin) * 8) !important;
    }
    [class*="gallery-columns-"] .gallery-item,
    .gallery-size-thumbnail .gallery-item {
        max-width: calc( 50% - var(--base-padding)) !important;
    }
    .gallery-item .size-thumbnail {
        width: 100%;
    }
    
    /*
     * galleries limited to 8 images with css selectors
     * */

    figure.wp-block-gallery.has-nested-images {
        margin-top: var(--base-margin);
        margin-bottom: calc( var(--base-margin) * 8 );
        justify-content: flex-start;
        gap: var(--base-gap);
    } 
    figure.wp-block-gallery.has-nested-images .wp-block-image {
        display: none;
    }
    figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(-n+7) {
        display: flex;
        max-width: calc( calc( var(--container-width) / 4 ) - calc( var(--base-margin) * 4.4 ) );
    }
    figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) {
        display: flex;
    }
    figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) img {
        display: none;
    }
    figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) a::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: var(--base-2);
    }
    figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) a::after {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 45%;
        text-align: center;
        font-family: var(--font-pxc-cond);
        font-size: 1.5em;
        text-transform: uppercase;
    }
    html[lang="ca"] figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) a::after {
        content: "veure +";
    }
    html[lang="es-ES"] figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) a::after {
        content: "ver +";
    }
    html[lang="en"] figure.wp-block-gallery.has-nested-images .wp-block-image:nth-child(8) a::after {
        content: "view +";
    }

    [class*="gallery-columns-"] .gallery-item {
        display: none;
        position: relative;
    } 
    [class*="gallery-columns-"] .gallery-item:nth-child(-n+7){
        display: flex;
    } 
    [class*="gallery-columns-"] .gallery-item:nth-child(8) {
        display: flex;
    }
    [class*="gallery-columns-"] .gallery-item:nth-child(8) img {
        display: none;
    }
    [class*="gallery-columns-"] .gallery-item:nth-child(8) a::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--base-2);
    }
    [class*="gallery-columns-"] .gallery-item:nth-child(8) a::after {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 45%;
        left:0;
        text-align: center;
        font-family: var(--font-pxc-cond);
        font-size: 1.5em;
        text-transform: uppercase;
    }
    html[lang="ca"] [class*="gallery-columns-"] .gallery-item:nth-child(8) a::after {
        content: "veure +";
    }
    html[lang="es-ES"] [class*="gallery-columns-"] .gallery-item:nth-child(8) a::after { 
        content: "ver +";
    }
    html[lang="en"] [class*="gallery-columns-"] .gallery-item:nth-child(8) a::after {
        content: "view +";
    }


    .wpmf-gallerys .gallery {
        margin-top: var(--base-margin);
        margin-bottom: calc( var(--base-margin) * 2 );
    }
    .wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image) {
        max-width: calc( calc( var(--container-width) / 4 ) - calc( var(--base-margin) * 4 ) - calc( var(--base-padding) * 4 ) );
        margin-right: auto;
    }
    
    /*
     * Home Page 
     */
    
    .home .site-content {
        margin-top: 0;
    }
    .home .entry-header {
        display:none;
    }
    
    /* 
     * Slider 
     */
    #slider-patisxclima, .pxc-slider {
        --slider-height: calc(100vw / 1.6);
        width: 100%;
        height: var(--slider-height);
        max-height: var(--slider-height);
        position: relative;
        overflow: hidden;
        background-color: var(--base-2);
    }
    #slider-patisxclima .wp-block-group__inner-container, .pxc-slider .wp-block-group__inner-container {
        margin: 0 !important; /* avoid margin auto when contained*/
    }
    #slider-patisxclima .slides, .pxc-slider .pxc-slides{
        width: 400%;
        max-width: unset;
        height: 100%;
        max-height: 100%;
        position: relative;
        -moz-animation: 30s ease-in 3s infinite reverse both running pxcslidein;
        -webkit-animation: 30s ease-in 3s infinite reverse both running pxcslidein;
        animation: 30s ease-in 3s infinite  both running pxcslidein;
    }
    #slider-patisxclima .slide, .pxc-slider .pxc-slides .pxc-slide{
        position: relative;
        float: left;
        z-index: 1;
        width: 25%;
        height: 100%;
        margin-left:unset;
        overflow: hidden;
    }
    .pxc-slide .wp-block-group__inner-container {
        padding: 0;
        position: relative;
    }
    .pxc-slide-image img {
        min-height: var(--slider-height);
    }
    
    .pxc-slide .pxc-slide-text {
        position: absolute;
        top: 1em;
        left: 2em;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .pxc-slide .pxc-slide-text .wp-block-group__inner-container {
        display: flex;
        flex: column;
        width: 10em;
        height: 10em;
        overflow: hidden;
        color: var(--accent);
        background-color: var(--base);
    }
    .pxc-slide .wp-block-post-excerpt {
        color: var(--accent);
    }
    .pxc-slide .pxc-slide-text .wp-block-post-title {
        width: 100%;
        margin-bottom: 0;
        padding: calc(var(--base-padding)*0.9);
        font-size: calc(var(--h3-small)*0.75);
    }
    .pxc-slide .pxc-slide-text .wp-block-post-excerpt {
        width: 0;
        height: 0;
        padding: 0 ;
        background-color: none;
        font-size: 0;
    }
    .pxc-slide-text a {
        color: var(--color-03);
    }
   /*
    * gutslider changes
    * */ 
    .wp-block-gutsliders-post-slider .gutslider-content-inner,
    .gutslider-content-inner {
      display: flex;
      flex-flow: column;
      height: auto;
      max-height: 70%;
      text-align: left;
    }
    .wp-block-gutsliders-post-slider .gutslider-content-wrapper .post-category, 
    .wp-block-gutsliders-post-slider .gutslider-content-wrapper .post-excerpt,
    .wp-block-gutsliders-post-slider .gutslider-content-wrapper .post-title {
        margin: 0;
    }
    .gutslider-content-inner a.post-title,
    .gutslider-content-inner .post-excerpt{
        padding: calc( var(--base-padding) / 1 );
        aspect-ratio: 2/1;
    }
    .gutslider-content-inner h3.post-title {
        padding: 0;
    }
    .gutslider-content-inner .post-title {
      background-color: var(--base);
      font-size: 1.2em;
    }
    .gutslider-content-inner .post-excerpt{
      background-color: var(--base-2);
      font-size: 1em;
    }
    /*
     * Featured patis-x-clima block
     */
    .featured-pxc .wp-block-group {
        padding: calc(var(--base-padding)*2) var(--base-padding);
        display: flex;
        justify-content: space-between;
    }
    /*
     * Featured special rectangle
     */
    .featured-special .wp-block-cover {
        padding: 0;
        height: calc(var(--container-width) / 5 ) ;
        min-height: calc(var(--container-width) / 5 );
        align-items: baseline;
    }
    .featured-special .wp-block-cover__inner-container {
        height: 100%;
    }
    .featured-special .wp-block-cover__inner-container .wp-block-group {
        height:100%;
    }
    
    .featured-special .wp-block-cover__inner-container .wp-block-group__inner-container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
        padding: calc(var(--base-padding)*2) var(--base-padding);
    }
    
    /*
     * Featured categories block
     */
    
    .featured-categories.wp-block-columns{
        height:100%;
    }
    .featured-categories .wp-block-column {
        display:flex;
        flex-direction:column;
        height: 100%;
    }
    .featured-categories .wp-block-column > * {
        aspect-ratio: 1 / 1;
    }
    .featured-categories figure img {
        background-color: var(--whitecolor);
        width: 100%;
        height: auto;
    }
    
    /*
     * Featured posts block
     */
    
    .featured-posts {
        padding-top: var(--base-padding);
        padding-bottom: var(--base-padding);
    }
    
    .featured-posts .wp-block-post-terms {
        margin-bottom: calc(var(--base-margin)*2);
        border-bottom: 1px solid var(--base)
    }
    
    .featured-posts .wp-block-post-title {
        margin-top: calc(var(--base-margin)*1.5);
    }
    
    .featured-posts .featured-posts-image-container {
        min-height: calc( 100vw/4);
    }
    
    
    /*
     * Featured videos block
     */
    .featured-videos figure,
    .featured-videos .figure {
        aspect-ratio: 1 / 1;
        margin: var(--base-margin) 0;
        background-color: var(--base-2);
        display: grid;
    }
    
    .featured-videos .wp-block-embed__wrapper {
        height: 100%;
    }
    .featured-videos p {
        color: var(--rgb-midgrey);
    }
    .ytp-chrome-top.ytp-show-cards-title {
        display: none !important;
    }
    .ytp-button::before{
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 60px solid var(--base2);
    }
    .ytp-button svg {
        display: none !important;
    }
    
    
    /*
     * Featured news block
     */
    .featured-news figure {
        aspect-ratio: 1 / 1;
        margin: var(--base-margin) 0;
    }
    /*
     * En Acció
     * * * * * * */
    
    [class*="-en-accio"], 
    [class*="-en-accio"] .site-main , 
    .site [class*="-en-accio"]  {
        /*--accent:      #ff6600;*/
        /*--contrast:    #ff7711;*/
        /*--contrast-2:  #ff8822;*/
        /*--contrast-3: #ff9933;*/
        /*--base:    #ffaa44;*/
        /*--base-2:  #ffbb55;*/
        /*--base-3:  #ffcc66;*/
    }
    [class*="-en-accio"] h3,
    [class*="-en-accio"] em,
    [class*="-en-accio"] .entry-title a,
    [class*="-en-accio"] .entry-meta {
        color: var(--rgb-en-accio);
    }
    [class*="-en-accio"] .inside-article a:hover,
    .inside-article [class*="-en-accio"] a:hover {
        color: var(--rgb-en-accio);
    }

    
    /*
     * Login
     * * * * * * */
    .login {
        color: var(--contrast-2);
        background: var(--rgb-base-3);
    }
    .login #backtoblog, .login #nav {
        font-size: calc(var(--base-font-size)*1.1);
    }
    
    .login label {
        font-size: calc(var(--base-font-size)*1.3);
    }
    .login form {
        background: none;
        border: none;
        box-shadow: none;
    }
    
    .login a, 
    .login #backtoblog a,
    .login #nav a {
        color: var(--rgb-accent);
    }
    .login a:active,
    .login a:hover,
    .login #backtoblog a:hover,
    .login #nav a:hover,
    .login h1 a:hover {
        color: var(--rgb-contrast-2);
    }
    
    /*
     * Posts Pages view
     * * * * * * */
    
    /* 
     * Archive view
     * * * * * * */
    .archive h2.entry-title {
        font-size: calc(var(--base-font-size) * 1.5);
    }
    .archive .inside-article {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    .post-image-above-header .inside-article .featured-image,
    .post-image-above-header .inside-article .post-image {
        margin-bottom: 0 !important;
    }
    .archive .inside-article .post-image {
        margin-bottom: var(--base-margin);
        aspect-ratio: 1/1;
        overflow: hidden;
    }
    .archive .post-image img {
      width: 100%;
      max-width: unset;
      height: 100%;
      object-fit: cover;
    }
    .archive .size-thumbnail {
        min-width: 100%;
        min-height: 100%;
    }
    .archive .inside-article .entry-header {
        min-height: calc( var(--base-font-size) * 4);
        margin-top: var(--base-margin);
        margin-bottom: auto;
    }
    .archive .inside-article .entry-summary {
        max-height: 0px;
        font-size: 0px;
    }
    .archive .inside-article .entry-meta {
        margin-top: 0;
        margin-bottom: calc( var(--base-margin) * 1 );
    }

    /*
     * Archive noticies noticias news
     * Archive en-accio en-accion
     */
    .archive[class*="-en-accio"] .generate-columns,
    .archive[class*="category-notici"] .generate-columns {
        width: 50% !important;
        min-height: calc( var(--container-width) / 3 );
    }
    .archive[class*="-en-accio"] .generate-columns .post-image,
    .archive[class*="category-notici"] .generate-columns .post-image {
        aspect-ratio: 2/1 !important;
        overflow: hidden;
        position:relative;
    }
    .archive[class*="-en-accio"] .generate-columns .post-image-img,
    .archive[class*="category-notici"] .generate-columns .post-image img {
        position:absolute;
        top: 50%;
        left: 0;
        -moz-transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .archive[class*="-en-accio"] .inside-article .entry-header ,
    .archive[class*="category-notici"] .inside-article  .entry-header {
        min-height: calc( var(--base-font-size) * 3);
    }
    .archive[class*="-en-accio"] .inside-article .entry-summary,
    .archive[class*="category-notici"] .inside-article .entry-summary {
        min-height: calc( var(--base-font-size) * 5);
    }
    .archive[class*="-en-accio"] .inside-article .entry-meta,
    .archive[class*="category-notici"] .inside-article .entry-meta {
        border-bottom: none;
    }
    
    /*for classic old posts */
    .noticies .category-noticies, 
    .noticias .category-noticias, 
    .news .category-news {
        position: relative;
        display: flex;
        flex-direction: column;
        aspect-ratio: 1.1/1;
    }
    .noticies .category-noticies .wp-block-group:before,
    .noticias .category-noticias .wp-block-group:before,
    .news .category-news .wp-block-group:before {
        content:"";
        display:inline-block;
        float:left;
        background-color:var(--bkgcolor);
        width: 100%;
        top: 0;
        position: absolute;
        aspect-ratio: 2/1;
        z-index: -10;
     }
    .noticies .wp-block-post-featured-image,
    .noticias .wp-block-post-featured-image,
    .news .wp-block-post-featured-image {
        aspect-ratio: 2/1 !important;
        overflow: hidden;
    }
    .noticies .wp-block-post-title,
    .noticias .wp-block-post-title,
    .news .wp-block-post-title {
        margin-top: calc( var(--base-margin) * 1);
        min-height: calc( var(--base-font-size) * 2 );
    }
    .noticies .wp-block-post-excerpt,
    .noticias .wp-block-post-excerpt,
    .news .wp-block-post-excerpt {
        min-height: calc( var(--base-font-size) * 5 );
    }
    .noticies .category-noticies .wp-block-group , 
    .noticias .category-noticias .wp-block-group , 
    .news .category-news .wp-block-group {
        margin-top: auto;
    }
    .noticies .wp-block-query-pagination,
    .noticias .wp-block-query-pagination,
    .news .wp-block-query-pagination {
        justify-content: space-between;
        margin-top: calc( var(--base-margin) * 4);
    }

    /*
     * Archive mapa-ca mapa-es map
     */
    
    
    /* Map styles */
    
    .tgb_experiencesmap {
        max-width: calc( var(--container-width) - calc( var(--base-margin) * 4));
        width: 100vw;
        margin-bottom: 2em;
        margin-left: 0;
        padding-left: 0;
    }
    .tgb_experiencesmap .leaflet-map {
        min-height: 30vh;
    }
    
    /*
     * Footer
     *
     * * * * * * */
    .site-footer {
        margin-top: calc( var(--base-margin) * 6 );
    }
    .site-footer .widget ul li {
        margin-bottom: 0;
        line-height: calc( var(--base-line-height) * 0.8 );
    }
    .site-footer .widget ul li ul {
        margin-left: 0.5em;
        margin-top: 0;
    }
    
    .site-footer .menu-item a {
        font-size: calc(var(--base-font-size)*0.8);
    }
    .copyright-bar .spacer {
        padding: 0 1em;
    }
    
    /* 
     * Animations keyframes 
     *
     * * * * * * */
    @-webkit-keyframes pxcslidein{
        0%,100%{ margin-left:0%; }
        21%{ margin-left:0%; }
        25%{ margin-left:-100%; }
        46%{ margin-left:-100%; }
        50%{ margin-left:-200%; }
        71%{ margin-left:-200%; }
        75%{ margin-left:-300%; }
        96%{ margin-left:-300%; }
    }
    @-moz-keyframes pxcslidein{
        0%,100%{  margin-left:0%; }
        21%{ margin-left:0%; }
        25%{ margin-left:-100%; }
        46%{ margin-left:-100%; }
        50%{ margin-left:-200%; }
        71%{ margin-left:-200%; }
        75%{ margin-left:-300%; }
        96%{ margin-left:-300%; }
    }
    @keyframes pxcslidein{
        0%,100%{  margin-left:0%; }
        21%{ margin-left:0%; }
        25%{ margin-left:-100%; }
        46%{ margin-left:-100%; }
        50%{ margin-left:-200%; }
        71%{ margin-left:-200%; }
        75%{ margin-left:-300%; }
        96%{ margin-left:-300%; }
    }

    /*
     * Plugins external sites
     *
     * * * * * * */
   /* 
    figure.wp-block-embed-youtube {
        position: relative;
    }
    figure.wp-block-embed-youtube .wp-block-embed__wrapper::after {
        content: "";
        display: inline-block;
        width: 35%;
        height: 35%;
        background: var(--contrast-3);
        position: absolute;
        top: 30%;
        left: 30%;
        border-radius: 0;
    }
   */
   /* lite-youtube */
    lite-youtube {
        aspect-ratio: 1/1;
    }
    lite-youtube > .lty-playbtn {
       color: var(--base);
       background-color: none;
    }
    lite-youtube > .lty-playbtn:hover {
       color: var(--base);
       background-color: transparent;
    }
    lite-youtube:hover > .lty-playbtn, lite-youtube .lty-playbtn:focus {
        filter: hue-rotate(75deg);
    }


    .wp-block-embed-youtube .ytp-gradient-top,
    .wp-block-embed-youtube .ytp-show-cards-title,
    .wp-block-embed-youtube .ytp-button {
      display: none !important;
        filter: hue-rotate(75deg);
    }
    
}
/*smaller than screen <= 768px */
@media screen and (max-width: 768px) {}
/*smaller than screen <= 781px */
@media screen and (max-width: 781px) {
    .secondary-navigation .inside-navigation {
        padding: 0 var(--base-padding);
    }
    .secondary-navigation .menu-toggle {
        text-align: end;
    }
    /* Mobile Menu toggled */
    #mobile-header.toggled,.main-navigation.toggled,.secondary-navigation.toggled{
        height: 100vh;
    }
    .main-navigation.toggled .main-nav li {
        text-align: center;
    }
    .secondary-navigation.toggled .main-nav{
        padding-top: var(--base-padding);
    }
    .secondary-navigation.toggled ul {
        display: inline-block !important;
        height: auto;
        width: 100%;
        opacity: 1;
    }
    .secondary-navigation.toggled li {
        display: inline;
        opacity: 1;
        visibility: visible;
        border: none;
    }
    .secondary-navigation.toggled .main-nav ul li a {
        padding: 0.2rem 0;
        font-size: var(--h3-small);
        text-align: center !important;
    }
    .secondary-navigation.toggled .dropdown-menu-toggle {
        display: none;
    }
    .secondary-navigation.toggled .main-nav ul ul {
        border: none !important;
        padding: 0 !important;
        height:auto;
    }
    .secondary-navigation.toggled .main-nav ul ul a{
        color: var(--base);

    }   
    
    .separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header {
        padding-left: calc( var(--base-padding-theme) / 2 );
        padding-right:  calc( var(--base-padding-theme) / 2 );
    }

    .featured-pxc .wp-block-columns:not(.is-not-stacked-on-mobile),
    .featured-categories,
    .featured-videos {
        gap: calc(var(--base-gap) * 0.5);
    }

    .featured-pxc .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column, 
    .featured-categories.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column, 
    .featured-videos.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
        flex-basis: 40% !important;
    }

    .featured-news .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
        grid-template-columns: 1fr 1fr;
    }
    .generate-columns.mobile-grid-100, .grid-sizer.mobile-grid-100 {
        width: 50% !important;
    }
    .generate-columns-container :nth-child(2n+1 of article) .inside-article .entry-meta {
       margin-left:0;
       padding-left: 0;
    }
    .generate-columns-container :nth-child(2n of article) .inside-article .entry-meta {
        margin-right:0;
        padding-right: 0;
    }
}
/*bigger screen >= 782px */
@media screen and (min-width: 782px) {
    /* Navigation */
    .main-navigation .inside-navigation {
        padding: 0 var(--base-margin-theme) ;
    }
    .secondary-navigation .inside-navigation {
        padding: 0 var(--base-margin-theme) !important;
    }
    nav.has-branding .inside-navigation {
        min-height: 6em;
    }

    nav .inside-navigation .main-nav {
        order: 100;
    }
    nav .inside-navigation .main-nav ul li:last-of-type a,   
    .main-navigation .main-nav ul li:last-of-type a{
        padding-right: 0;
    }
    /* Slider */
    #slider-patisxclima, .pxc-slider {
        --slider-height: calc(100vw / 2.6);
    }
    .pxc-slide .pxc-slide-text .wp-block-group__inner-container {
        width: 30em;
        height: 15em;
    }
    .pxc-slide .pxc-slide-text {
        top: 1em;
        left: 2em;
    }
    .pxc-slide .pxc-slide-text .wp-block-post-title {
        width: 50%;
        margin-bottom: 0;
        padding: var(--base-padding);
        font-size: var(--h3-small);
    }
    .pxc-slide .pxc-slide-text .wp-block-post-excerpt {
        width: 50%;
        height: 100%;
        padding: var(--base-padding);
        background-color: var(--base-2);
        font-size: var(--base-font-size);
    }

    /* gutslider changes */
    .wp-block-gutsliders-post-slider .gutslider-content-inner,
    .gutslider-content-inner {
        flex-flow:row;
        margin-left: 10%;
        width: 32rem;
    }
    .gutslider-content-inner a.post-title,
    .gutslider-content-inner .post-excerpt{
        padding: calc( var(--base-padding) * 1 );
        aspect-ratio: 1/1;
        width: 100%;
    }
    /* Post and pages */
    /* galleries */
    .wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image) {
        max-width: calc( calc( var(--container-width) / 4 ) - calc( var(--base-margin) * 4.4 ) );
        margin-right: 0;
    }
    .gallery-size-thumbnail {
        gap: calc( var(--base-gap) / 2 );
        justify-content: flex-start;
    }

    [class*="gallery-columns-"] {
        margin-bottom: calc(var(--base-margin) * 12) !important;
    }
    [class*="gallery-columns-"] .gallery-item,
    .gallery-size-thumbnail .gallery-item {
        max-width: calc( calc( var(--container-width)/4) - calc(var(--base-margin) * 3)) !important;
    }
    [class*="gallery-columns-"] .gallery-item .gallery-icon,
    .gallery-size-thumbnail .gallery-item .gallery-icon { 
        padding: 0;
    }

    /* map */
    .tgb_experiencesmap {
        margin-left: var(--base-margin-theme) ;
        padding-left: calc(var(--base-margin-theme) / 2);
    }
    /* Categories arvhive*/
    .archive .inside-article .entry-header {
        margin-top: var(--base-margin);
        margin-bottom: 0;
    }
    .archive .inside-article .entry-meta {
        min-height: calc( var(--base-font-size) * 2 );
        font-size: inherit;
    }
    .generate-columns.tablet-grid-50, .grid-sizer.tablet-grid-50 {
        width: 25% !important;
    }
    .generate-columns-container :nth-child(4n+1 of article) .inside-article .entry-meta {
        margin-left:0;
        padding-left: 0;
     }
     .generate-columns-container :nth-child(4n of article) .inside-article .entry-meta {
         margin-right:0;
         padding-right: 0;
     }

    /* loop news noticias noticies */
    .noticies .category-noticies, 
    .noticias .category-noticias, 
    .news .category-news {
        aspect-ratio: 1.25/1;
    }
    .noticies .wp-block-post-title,
    .noticias .wp-block-post-title,
    .news .wp-block-post-title {
        margin-top: 0;
    }
}

/*smaller than screen <= 1024px */
@media screen and (max-width: 1024px) {}
/*bigger than screen >= 1024px */
@media screen and (min-width: 1024px) {
    .archive .inside-article .entry-summary {
        min-height: calc( var(--base-font-size) * 10);
        font-size: inherit;
        color: var(--rgb-midgrey);
    }
    .generate-columns.mobile-grid-100, .grid-sizer.mobile-grid-100 {
        width: 25% !important;
    }
}

/*smaller than screen <= 1200px */
@media screen and (max-width: 1200px) {

}
/*bigger than screen >= 1200px */
@media screen and (min-width: 1200px) {
    /* Site content width */
    .site-content {
    }
    .pxc-slide .pxc-slide-text {
        top: 25vh;
        left: 9.5vw;
    } 
}

/*bigger than screen >= 1440px */
@media screen and (min-width: 1440px) {

    .pxc-slide .pxc-slide-text {
        top: 30vh;
        left: 14vw;
    }
}
