@font-face {
    font-family: 'Swis721 BT';
    src: url('Swiss721BT-Roman.woff2') format('woff2'),
        url('Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('Swiss721BT-Bold.woff2') format('woff2'),
        url('fonts/Swiss721BT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('Swiss721BT-Italic.woff2') format('woff2'),
        url('Swiss721BT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {                      
    font-family: 'Helvetica Neue LT Std Condensed';
    src: url('HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
         url('HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: bold; /*700*/    
    font-style: normal;           
    font-display: swap;           
}                                 
                                  
@font-face {                      
    font-family: 'Helvetica Neue LT Std Condensed';
    src: url('HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdCnO.woff') format('woff');
    font-weight: bold; /*700*/    
    font-style: italic;           
    font-display: swap;           
}                                 
                       
